/*HEADER*/

header {
    background-color: rgb(4, 30, 30);
    margin-left: 5%;
    margin-right: 5%;
}
.menu {
    color: rgb(209, 255, 255);
    list-style-type: none;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
ul.menu li{
    display: inline;
    padding: 0 12px;
}
.a-menu {
    color: rgb(209, 255, 255);
    font-family: 'Ysabeau SC', sans-serif;
    text-decoration: none; 
}

/*BODY*/
.box {
    margin: 2% 10vw;
}

body {
    background-color: rgb(209, 255, 255);


}
h1 {
    color:rgb(7, 63, 63);
    font-family: 'IM Fell Double Pica SC', serif;
}
h2{
    color:rgb(3, 112, 112);
    font-family: 'Ysabeau SC', sans-serif;
}
h3 {
    color: rgb(0, 136, 136);
    font-family: 'Ysabeau SC', sans-serif;
}
p {
    color:rgb(4, 30, 30);
    font-family: 'Inconsolata', monospace;
}
.certificates {
    list-style-type: none;
}
.a-certificates {
    color:rgb(4, 30, 30);
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
}
.info {
    padding: 0;
    margin: 0;
}
.photo {
    width: 50vh;
}
.code {
    color: rgb(2, 72, 51);
}

/*FOOTER*/

footer{
    margin: 5%;
    background-color: rgb(4, 30, 30);
    height: 100px;
    display: flex;
    justify-content: right;
}
.footer-img {
    height: 80%;
    margin-left: auto;
    padding-right: 5%;
}