body{
    background-color: rgb(209, 255, 255);

}
h1 {
    color:rgb(7, 63, 63);
    font-family: 'IM Fell Double Pica SC', serif;
}
h2{
    color:rgb(3, 112, 112);
    font-family: 'Ysabeau SC', sans-serif;
}
h3 {
    color: rgb(0, 136, 136);
    font-family: 'Ysabeau SC', sans-serif;
}
p, a{
    color:rgb(4, 30, 30);
    font-family: 'Inconsolata', monospace;
}
.info {
    padding: 0;
    margin: 0;
}
.photo {
    width: 50vh;
}
.code {
    color: rgb(113, 38, 0);
}