/*HEADER*/

header {
    background-color: rgb(4, 30, 30);
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -20px;
    
}
.menu {
    color: rgb(209, 255, 255);
    list-style-type: none;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
ul.menu li{
    display: inline;
    padding: 0 12px;
}
.a-menu {
    color: rgb(209, 255, 255);
    font-family: 'Ysabeau SC', sans-serif;
    text-decoration: none; 
}

/*BODY*/
.box {
    margin: 2% 15vw;
    text-align: center;
}

body {
    background-color: rgb(209, 255, 255);


}
h1 {
    color:rgb(7, 63, 63);
    font-family: 'IM Fell Double Pica SC', serif;
}
h2{
    color:rgb(3, 112, 112);
    font-family: 'Ysabeau SC', sans-serif;
}
h3 {
    color: rgb(0, 136, 136);
    font-family: 'Ysabeau SC', sans-serif;
}
p {
    color:rgb(4, 30, 30);
    font-family: 'Inconsolata', monospace;
}
.certificates {
    list-style-type: none;
}
.a-certificates {
    color:rgb(4, 30, 30);
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
}
.info {
    padding: 0;
    margin: 0;
}
.photo {
    max-width: 30vw;
}
.preformated {
    padding-left: -50px;
    margin-left: -50px;
}
.code {
    padding-right: 2vw;
    color: rgb(2, 72, 51);
    font-size: 2.3vw;
    
}

/*FOOTER*/

footer{
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(4, 30, 30);
    height: 10%;
    display: flex;
    justify-content: right;
}
.footer-git {
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 5vw;
}
.footer-git-img {
    max-height: 10vh;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 5vw;
}
.footer-year{
    color: rgb(209, 255, 255);
    text-align: center;
    padding-right: 15vw;
}
.footer-img {
    max-height: 7vh;
    margin-left: auto;
    padding-top: 1vw;
    padding-right: 5vw;
}

@media screen and (min-width: 801px){
    .code {
        font-size: 1.6vw;
    }
    
}
@media screen and (max-width: 500px){
    .code {
        font-size: 2.5vw;
    }
    .footer-img {
        max-height: 4vh;
        margin-left: auto;
        padding-top: 1vw;
        padding-right: 2vw;
    }
    .footer-git-img {
        max-height: 7vh;
    }
    .footer-year{
        font-size: 10px;
    }


    
}
